;;; TODO document these
{ ; :source "~/Downloads"
 :entry-tags ["EntryPoint"]
 :exit-tags #or [#split [#env ROAM_EXIT_TAGS] ["ExitPoint" "Private"]]
 :dev-mode #boolean #or [#env ROAM_DEV_MODE "false"]
 :daily-notes? #boolean #or [#env ROAM_DAILY_NOTES "false"]
 :output-dir #or [#env ROAM_OUTPUT_DIR "output"]
 :unexclude? #boolean #or [#env ROAM_UNEXCLUDE "false"]
 :site-css ["../assets/default.css"]
 :short-title "MyGarden"
 :main-page "My Beautiful Garden"
 :colophon ["Copyright © " [:a {:href "http://mysite.com" :style "color: white;"} "MySite"] " 2020-2021"]
;;; :google-analytics "G-whatever"         ;or nil to leave out

 ;; elements can be either a page name or a [text url] pair.
 :right-navbar ["About" "Index" "New"]  
;;; :roam-base-url "https://roamresearch.com/#/app/mygraph/page/"
 :markdown-output-dir false
 :real-base-url "https://mysite.com/mygraph/pages/" ; Used for markdown version to point home. 
 :bullets? false                        ;TODO not implemented 
 }
