

body {
    font-family: Lato;
    font-size: 14pt;
    line-height: 1.5; 
}

.main {
    margin-top: 100px;
}

.block {
    margin-bottom: 10px;
}

.title {
    display: block;
    margin-bottom: 20px;
}

.navbar {
}

.nav-link {
    font-weight: bold;
    padding-right: 1rem;
    padding-left: 1rem;
}

ul {
  list-style: none; /* Remove default bullets */
}

li {
    display: flex;
}

.page-content {
    /* A kludgy way to shift page content left so it aligns with title */
    margin-left: -80px;
}

/* Gyrations to get colored list bullets */
.main ul li::before {
    /* content: "\2022";  bullet */
    display: inline-block; 
    vertical-align: top;
    margin-right: 0.5em;
}

a {
    font-weight: 500;	/* slightly bold */
}

a:hover {
    text-decoration: none;
    box-shadow: 0 0 0 5px #eeeee0;
}

.external {
    background-image: url(external-link.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}

.empty {
    text-decoration: line-through;
}


h1, h2, h3 {
    display: inline;
}

h2 {
    font-size: 22px;
}

blockquote {
    white-space: break-spaces;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    width: 90%;
}

/* aka linked references */
.incoming {
}

.incoming h3 {
    display: block;
    margin-bottom: 10px;
}

.incoming .block {
    font-size: 10pt;
}

.codeblock {
    white-space: break-spaces;    
}


.missing {
    border: 5px solid red;
    padding: 5px;
}

.block-ref {
     border: 1px solid gray;
     padding: 5px;
}

.nondent {
    padding-inline-start: 0;
}

.ptitle {
    /* gets title left-aligned with text, but a kludge and not sure it will work with different fonts etc  */
    display: inline-block;
}

img {
    /* center images */
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;		/* TODO should have click-to-see-full-size as in Roam */
}

iframe {
    margin-left: auto;
    margin-right: auto;
}

.date {
    font-size: small;
}

.navbar-brand {
}

.edit {
    margin-left: 5px;
}

/* header of recent chenges sections */
.pheader {
    padding: 2px;
    margin-bottom: 3px;
    margin-top: 15px;
}

.footer {
}

/* For recent changes, should have more semantic name */
.ragged {
    border-radius: 25px 15px 225px 15px/15px 225px 15px 255px;    
    border:dashed 3px red;
    margin: 5px;
    margin-left: 15px;
    padding-left: 7px;
    padding-top: 7px;
}

.ragged .block {
    font-size: 10pt;
}

