:root {
    --deep-space-sparkle: #335c67ff;
    --medium-champagne: #fff3b0ff;
    --indian-yellow: #e09f3eff;
    --auburn: #9e2a2bff;
    --rosewood: #540b0eff;
    --white: #FFFFFFFF;

    --background: #FFFFFF;
    --navbar-background: #407492;
    --link: #9e2a2bff;
    --blockquote: #efe9c9;  /*   #fff3b0ff #fffce9 */
    --incoming: #d2e7ec;  	/* picked this myself, and dont want it relgated to botton of page */
    --navbar-foreground: #e09f3eff;
}


body {
    background-color: var(--background);
    /* font-family: Georgia; */
    /* font-family: 'Martel', serif; */
    font-family: Lato;
    font-size: 14pt;
    line-height: 1.5; 
}

.main {
    margin-top: 100px;
}

.block {
    margin-bottom: 10px;
}

.title {
    display: block;
    margin-bottom: 20px;
}

.navbar {
    background-color: var(--navbar-background);
}

.nav-link {
    color: var(--navbar-foreground) !important;	
    font-weight: bold;
    padding-right: 1rem;
    padding-left: 1rem;
}

ul {
  list-style: none; /* Remove default bullets */
}

li {
    display: flex;
}

.page-content {
    /* A kludgy way to shift page content left so it aligns with title */
    margin-left: -80px;
}

/* Gyrations to get colored list bullets */
.main ul li::before {
    /* content: "\2022";  bullet */
    /* content: "\2aa2";  my fave ⪢ */
    content: "\30fb";   
    color: var(--link);
  /* color: #4E176E; 		 */
    display: inline-block; 
    vertical-align: top;
    margin-right: 0.5em;
}

a {
    color: var(--link); 
    font-weight: 500;	/* slightly bold */
}

a:hover {
    background-color: #eeeee0; 
    color: var(--link) !important; 
    text-decoration: none;
    box-shadow: 0 0 0 5px #eeeee0;
}

.external {
    background-image: url(external-link.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}

.empty {
    text-decoration: line-through;
}


h1, h2, h3 {
    display: inline;
}

h2 {
    font-size: 22px;
}

blockquote {
    white-space: break-spaces;
    background: var(--blockquote);
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 3px solid black;
    width: 90%;
}

/* aka linked references */
.incoming {
    /* background: var(--incoming);  */
}

.incoming h3 {
    display: block;
    margin-bottom: 10px;
}

.incoming .block {
    font-size: 10pt;
}

.codeblock {
    white-space: break-spaces;    
}


.missing {
    border: 5px solid red;
    padding: 20px;
}

.block-ref {
     border: 1px solid gray;
     padding: 5px;
}

.nondent {
    padding-inline-start: 0;
}

.ptitle {
    /* gets title left-aligned with text, but a kludge and not sure it will work with different fonts etc  */
    padding-left: 26px;
    display: inline-block;
}

img {
    /* center images */
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

/* center videos (TODO not working, I think because they are within a <span>?a) */
iframe {
    margin-left: auto;
    margin-right: auto;
}

.date {
    font-size: small;
}

.navbar-brand {
    margin-left: 26px;
}

.edit {
    background-color: #f1eded;
    margin-left: 5px;
}

/* header of recent chenges sections */
.pheader {
    background-color: #f1eded;
    padding: 2px;
    margin-bottom: 3px;
}

.footer {
    background-color: var(--auburn);
}
