:root {
    --background: #FFFFFF;
    --navbar-background: #407492;
    --navbar-foreground: #e09f3eff; 
    --footer-background: #9e2a2bff;
    --link: #407492;
    --blockquote: #f1e8e6;  
    --blockquote-border: #c0c0c0;
}

