#merge
[#include "default-config.edn"

 {:source {:type :logseq
           :graph "logseq-test"
           }

  :exit-tags ["ExitPoint" "Private" "private" "charliebrowning" "InProgress"]
  :real-base-url "http://www.hyperphor.com/ammdi/" ; pointed at by markdown, may be other uses
  :site-css ["assets/hyper-roam.css"]
  :short-title "AMMDI"
  :main-page "Agency Made Me Do It"
  :colophon  ["Copyright © " [:a {:href "http://hyperphor.com" :style "color: white;"} "Hyperphor"] " 2020-2022"]
;;; GA is evil so maybe skip
  :google-analytics "G-SK8PZVFHTW" 
  ;; :markdown-output-dir "/misc/repos/ammdi-logseq/goddinpotty/"

  ;; Recent page is broken in Logseq world, so redirect to Index-Date
  :right-navbar [["All Pages" "Index-Date"]] ; "About" replaced with side widget
  :output-dir "/opt/mt/repos/hyperphor-git/ammdi" 
  :twin-pages? true
  }]

