body {
    background-color: #FEFEFF;
    /* font-family: Georgia; */
    font-family: 'Martel', serif;
    font-size: 13pt;
    line-height: 1.5;
}

.block {
    margin-bottom: 10px;
}

.title {
    display: block;
    margin-bottom: 20px;
}

ul {
  list-style: none; /* Remove default bullets */
}

/* Gyrations to get red list bullets */
ul li::before {
  content: "\2022"; 
  color: red; 
  font-weight: bold;
  display: inline-block; 
  width: 1em; 
  margin-left: -1em;
  vertical-align: top;
}

h1, h2, h3 {
    display: inline;
}

blockquote {
    display: inline-block;
    background: bisque;
    font-family: Baskerville;
    padding-left: 20px;
    border-left: 3px solid black;
}

/* aka linked references */
.incoming {
    padding: 10px;
    background: aliceblue;
}
